<nav class="navbar navbar-inverse">
  <%= link_to "Batman", pages_batman_path, class: "navbar-brand" %>
  <%= link_to "Superman", pages_superman_path, class: "navbar-brand" %>
  <%= link_to "Votación", pages_batman_vs_superman_path, class: "navbar-brand" %>
  <%= link_to "Page1", experiments_page1_path, class: "navbar-brand" %>
  <%= link_to "Page2", experiments_page2_path, class: "navbar-brand" %>
  <%= link_to "Page3", experiments_page3_path, class: "navbar-brand" %>
</nav>